:root{
  --rich-black: #01110a;
  --dark-green: #032221;
  --off-white: #f1f7f6;
  --light-green: #00DF81;
  --med-green: #03624c;
  --chardonnay: #ffc06e;
  --red: #b8293d;
}

.App {
  background-color: var(--dark-green);
  min-height: 100vh;
  text-align: center;
  color: var(--off-white);
}

.App-link {
  color: #61dafb;
}

a {
  color: var(--light-green);
  text-decoration: none;
  transition: transform 0.2s ease;
}
a:hover{
  transform: scale(1.1);
}

.delete-button{
  padding: 2px 12px;
  border: solid var(--rich-black) 2px;
  background-color: var(--chardonnay);
  border-radius: 5px;
}

.add-button{
  padding: 6px 16px;
  border: solid var(--rich-black) 2px;
  background-color: var(--light-green);
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

.all-students, .all-campuses{
  display: flex;
  flex-wrap: wrap;
}
.student-item, .campus-item{
  width: 250px;
  margin: 10px;
  border: solid var(--rich-black) 5px;
  background-color: var(--med-green);
  padding: 5px;
  border-radius: 25px;
}