:root{
  --dark-green: #032221;
  --off-white: #f1f7f6;
  --light-green: #00DF81;
  --med-green: #03624c;
}

.App {
  background-color: var(--dark-green);
  min-height: 100vh;
  text-align: center;
  color: var(--off-white);
}

.App-link {
  color: #61dafb;
}

a {
  color: var(--light-green);
  text-decoration: none;
  transition: transform 0.2s ease;
}
a:hover{
  transform: scale(1.1);
}