:root{
  --rich-black: #01110a;
  --dark-green: #032221;
  --off-white: #f1f7f6;
  --light-green: #08f793;
  --med-green: #03624c;
  --chardonnay: #ffc06e;
  --red: #b8293d;
}

.App {
  background-color: var(--dark-green);
  min-height: 100vh;
  text-align: center;
  color: var(--off-white);
}

.App-link {
  color: #61dafb;
}

a {
  color: var(--light-green);
  text-decoration: none;
  transition: transform 0.2s ease;
}
a:hover{
  transform: scale(1.05);
}
hr{
  color: var(--med-green);
}


.delete-button{
  padding: 2px 12px;
  border: solid var(--rich-black) 2px;
  background-color: var(--chardonnay);
  border-radius: 5px;
  margin-bottom: 5px;
}
.add-button{
  padding: 6px 16px;
  border: solid var(--rich-black) 2px;
  background-color: var(--light-green);
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

.all-students, .all-campuses{
  display: flex;
  flex-wrap: wrap;
}
.student-item, .campus-item{
  width: 250px;
  margin: 10px;
  border: solid var(--rich-black) 5px;
  background-color: var(--med-green);
  padding: 5px;
  border-radius: 25px;
}


.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.home-page a {
  position: relative;
  margin: 15px;
  border-radius: 5px;
  border: solid var(--rich-black) 5px;
  overflow: hidden;
}

.home-image {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.home-image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 25px 10px; 
  font-size: 20px;
  text-align: center;
}

.home-image-title h3 {
  margin: 0;
}



.campus-students{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.campus-student-item{
  width:fit-content;
  margin: 10px;
  border: solid var(--rich-black) 5px;
  background-color: var(--med-green);
  padding: 10px 30px;
  border-radius: 25px;
}
.campus-options{
  padding: 6px 16px;
  border: solid var(--rich-black) 2px;
  border-radius: 5px;
  letter-spacing: 1px;
}
.add-student-button{
  padding: 6px 12px;
  border: solid var(--rich-black) 2px;
  background-color: var(--light-green);
  border-radius: 16px;
  letter-spacing: 1px;
  margin-left: 16px;
}
.add-new-student-button{
  padding: 6px 12px;
  border: solid var(--rich-black) 2px;
  background-color: var(--light-green);
  border-radius: 16px;
  letter-spacing: 1px;
  margin-left: 16px;
  width: fit-content;
  margin-top: 16px;
}
.add-new-student-button a{
  color: black;
}
.campus-header{
  display: flex;
  justify-content: center;
  margin: 15px;
  gap: 25px;
}
.campus-header img{
  border: solid var(--med-green) 3px;
  max-width: 200px;
  max-height: 200px;
  height: auto;
  width: auto;
}
.student-single {
  margin: 25px;
}
.student-single img{
  border: solid var(--med-green) 3px;
  max-width: 200px;
  max-height: 200px;
  height: auto;
  width: auto;
}
.student-info-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: large;
}

.student-info {
  width: fit-content;
  border: 2px solid #11153e;
  background-color: var(--med-green);
  border-radius: 10px;
  padding: 10px 50px;
  margin-bottom: 5px;
}